* {
    color: #fff;
    font-family: sans-serif
}

body {
    background-color: #222222;
}

.game-container {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.title-container {
    text-align: center;
    width: 510px;
    border-bottom: 1px solid rgb(66, 65, 65);
}

.tile-container { 
    width: 330px;
    margin-bottom: 30px;
}

.key-container {
    width: 510px;
    display: flex;
    flex-wrap: wrap;
}

